/logs/
/project/*-shim.sbt
/project/project/
/project/target/
target/
.idea
.metals
.bloop
.DS_Store
*.iml
.codacy-coverage


#Ignore vscode AI rules
.github/copilot-instructions.md

.vscode
project/metals.sbt